<div class="center-align form-container">
    <div class="row">
        <div class="col s12 center-align">
            <h2>Returning User Login</h2>
        </div>
    </div>
    <form class="center-align" action="/login" method="POST">
        <div class="center-align">
            <div class="row">
                <div class="col s6 offset-s3 center-align">
                    <input id="userName" name="userName" type="text">
                    <label for="userName">User Name</label>
                </div>
            </div>
            <div class="row">
                <div  class="col s6 offset-s3 center-align">
                    <input id="password" name="password" type="text">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div  class="col s6 offset-s3 center-align">
                    <button class="btn waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>